.services {
  color: white;
  height: 50vh;
  display: flex;
  overflow: hidden;
}
.card-service {
  position: relative;
  flex: 1;
  display: flex;
  align-items: flex-end;
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  cursor: pointer;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  transition: 0.4s;
}
.overlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.card-service-content {
  height: 60%;
  width: 100%;
  padding: 30px;
}
.servicee-subtitle {
  font-size: 1.5em;
  color: gainsboro;
  padding-bottom: 20px;
}
.servicee-title {
  width: 80%;
  font-size: 2.2em;
  line-height: 1.5;
}
.service-img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transform: scale(1.6);
}
@media only screen and (max-width: 800px) {
  .services {
    flex-direction: column;
    height: 150vh;
  }
  .servicee-subtitle {
    font-size: 1.2em;
  }
  .servicee-title {
    font-size: 2em;
  }
}
